out/*
.vs/*
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-8728427d8081f3f21a79.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-8ff80ea74b5bfbb6ec29.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-3cdbeff517b20513c45a.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-db23896c094d0384bc81.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-48530e7ecd32ab44e06f.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-7e929fb96c9cf1eb2e89.json
out/build/x64-debug/.cmake/api/v1/reply/index-2022-12-03T21-55-12-0239.json
out/build/x64-debug/.cmake/api/v1/reply/index-2022-12-03T23-21-15-0637.json
out/build/x64-debug/.cmake/api/v1/reply/target-ModelViewer-Debug-4cf4654d392a53ff6c47.json
out/build/x64-debug/.cmake/api/v1/reply/target-ModelViewer-Debug-f25ef757db1f10a33c64.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-b564f470a69f0b677780.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-b85655f3638a06d0ce4b.json
out/build/x64-debug/.ninja_deps
out/build/x64-debug/.ninja_log
out/build/x64-debug/build.ninja
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.24.202208181-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/CMakeOutput.log
out/build/x64-debug/CMakeFiles/ModelViewer.dir/embed.manifest
out/build/x64-debug/CMakeFiles/ModelViewer.dir/intermediate.manifest
out/build/x64-debug/CMakeFiles/ModelViewer.dir/manifest.rc
out/build/x64-debug/CMakeFiles/ModelViewer.dir/manifest.res
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/Camera.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/Image.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/main.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/Obj.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/Scene.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/src/Shader.cpp.obj
out/build/x64-debug/CMakeFiles/ModelViewer.dir/vc140.pdb
out/build/x64-debug/CMakeFiles/rules.ninja
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/models/bunny.obj
out/build/x64-debug/models/sphere.obj
out/build/x64-debug/models/teapot.obj
out/build/x64-debug/ModelViewer.exe
out/build/x64-debug/ModelViewer.ilk
out/build/x64-debug/ModelViewer.pdb
out/build/x64-debug/shaders/lighting.frag
out/build/x64-debug/shaders/projective.vert
out/build/x64-debug/Testing/Temporary/LastTest.log
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/launch.vs.json
.vs/cse167_final/v17/ipch/AutoPCH/f9322b37d3595252/RTCUBE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/f770433dc076814f/RAY.ipch
.vs/cse167_final/v17/ipch/AutoPCH/d173e334d0c97520/OBJ.ipch
.vs/cse167_final/v17/ipch/AutoPCH/c46dbe2c864f800d/TRIANGLE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/c2c4f7c0dd52497d/SCENE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/bfc050c024e3d3b4/SHADER.ipch
.vs/cse167_final/v17/ipch/AutoPCH/ace40c4adf4a1e38/IMAGE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/ac76925ade980299/RTSCENE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/a68264a3ad2ea9ca/CAMERA.ipch
.vs/cse167_final/v17/ipch/AutoPCH/9d9726ba2befd8f4/MAIN.ipch
.vs/cse167_final/v17/ipch/AutoPCH/84d6ae0fdec23a64/INTERSECTION.ipch
.vs/cse167_final/v17/ipch/AutoPCH/7e93f44d2d80076a/RTSCENE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/4924c24d0ed1a116/RTSCENE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/488c917cba589f68/RTOBJ.ipch
.vs/cse167_final/v17/ipch/AutoPCH/3df7c80a60aea1e6/RAYTRACER.ipch
.vs/cse167_final/v17/ipch/AutoPCH/39f00b6bcdcef167/RTOBJ.ipch
.vs/cse167_final/v17/ipch/AutoPCH/354bb7eea60d11bb/RTGEOMETRY.ipch
.vs/cse167_final/v17/ipch/AutoPCH/25a8d1477663c5e2/IMAGE.ipch
.vs/cse167_final/v17/Browse.VC.db
.vs/cse167_final/v17/.wsuo
.vs/cse167_final/v17/.suo
.vs/cse167_final/FileContentIndex/eb3b77b7-6a06-44a5-b68d-afab11e15016.vsidx
.vs/cse167_final/FileContentIndex/b51f61b2-566a-46d9-a4b7-f6a9577c6c68.vsidx
.vs/cse167_final/FileContentIndex/b0eb6e46-de30-4675-b4b0-de3c6132d41c.vsidx
.vs/cse167_final/FileContentIndex/114fd484-0da7-4c7b-9ee9-b0084d02ac88.vsidx
.vs/cse167_final/FileContentIndex/0ed041dd-3ae5-4ce8-8e98-98fb815d56bb.vsidx
.vs/cmake.db
.vs/cse167_final/FileContentIndex/b0eb6e46-de30-4675-b4b0-de3c6132d41c.vsidx
.vs/cse167_final/v17/.suo
.vs/cse167_final/v17/Browse.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/cse167_final/FileContentIndex/b0eb6e46-de30-4675-b4b0-de3c6132d41c.vsidx
.vs/cse167_final/v17/.suo
.vs/cse167_final/v17/Browse.VC.db
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
out/build/x64-debug/.cmake/api/v1/reply/cache-v2-8ff80ea74b5bfbb6ec29.json
out/build/x64-debug/.cmake/api/v1/reply/cmakeFiles-v1-db23896c094d0384bc81.json
out/build/x64-debug/.cmake/api/v1/reply/codemodel-v2-48530e7ecd32ab44e06f.json
out/build/x64-debug/.cmake/api/v1/reply/index-2022-12-03T21-55-12-0239.json
out/build/x64-debug/.cmake/api/v1/reply/target-ModelViewer-Debug-4cf4654d392a53ff6c47.json
out/build/x64-debug/.cmake/api/v1/reply/toolchains-v1-b85655f3638a06d0ce4b.json
out/build/x64-debug/build.ninja
out/build/x64-debug/CMakeCache.txt
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CMakeSystem.cmake
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-debug/CMakeFiles/3.23.22060601-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-debug/CMakeFiles/CMakeOutput.log
out/build/x64-debug/CMakeFiles/rules.ninja
out/build/x64-debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-debug/Testing/Temporary/LastTest.log
.vs/cse167_final/FileContentIndex/2f928876-365e-4717-ad51-950094ced465.vsidx
.vs/cse167_final/FileContentIndex/a9d699d2-abf3-43ec-85da-43e39a9a8004.vsidx
.vs/cse167_final/FileContentIndex/d37c14cc-4f93-4fa0-b0fe-5452a6dee099.vsidx
.vs/cse167_final/FileContentIndex/d6c7b024-1b79-4d47-b9a9-ac23dcd0f1cf.vsidx
.vs/cse167_final/v17/Browse.VC.db
.vs/cse167_final/v17/Browse.VC.db-shm
.vs/cse167_final/v17/Browse.VC.db-wal
.vs/cse167_final/v17/Browse.VC.opendb
.vs/cse167_final/v17/ipch/AutoPCH/e0d67550f37bc36a/SCENE.ipch
.vs/cse167_final/v17/ipch/AutoPCH/ee887ef736166a01/RAYTRACER.ipch
.vs/slnx.sqlite
.vs/cse167_final/v17/Browse.VC.db
.vs/cse167_final/FileContentIndex/a1c592c5-3b30-4e73-b1e4-b53c2074dd3a.vsidx
.vs/cse167_final/FileContentIndex/9a41c3be-1d00-4493-aa91-7f880a0346ba.vsidx
.vs/cse167_final/v17/Browse.VC.db
.vs/slnx.sqlite
.vs/cse167_final/FileContentIndex/7d8e1d6c-dcee-456b-ad7e-f96b06bd2e60.vsidx
